.list {
    width: 80%;
    margin: auto;
    margin-top: 2.5%;
}

.list ul li {
    list-style-type: none;
}

.term_list {
    float: left;
    padding: 0.25%;
    margin: 0.25%;
    border: 1px solid #000000;
}

.term_list:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.to_search {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
}

.to_search:hover {
    background-color: #dddddd;
}